.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #fab404;
}
#logo_subpage {
  float: left;
  position: fixed;
  margin-top: 10px;
  margin-left: 40px;
}
#logo_icon_subpage {
  display: none;
}
#header_search_bar {
  position: fixed;
  width: 800px;
  height: 33px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 300px;
}
#header_search_btn {
  position: fixed;
  width: 10%;
  height: 33px;
  margin-left: 1120px; /*300+800  serch_bar랑margin20*/
  margin-top: 30px;
}
#header_mypage_btn {
  position: fixed;
  margin-top: 30px;
  margin-left: 1200px;
  color: black;
  text-decoration: none;
}
#header_logout_btn {
  position: fixed;
  margin-top: 30px;
  margin-left: 1350px; /*header_mypage_btn이랑150px*/
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header {
    height: 50px;
    width: 87%;
  }
  #logo_subpage {
    display: none;
  }
  #logo_icon_subpage {
    display: inline;
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  #header_search_bar {
    width: 58%;
    height: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }
  #header_search_btn {
    width: 20%;
    height: 30px;
    margin-left: 63%;
    margin-top: 10px;
  }
  #header_mypage_btn {
    display: none;
  }
  #header_logout_btn {
    display: none;
    cursor: pointer;
  }
}
