.MyPage {
  padding-top: 120px;
  padding-left: 320px;
}
.left_mypage {
  float: left;
  width: 50%;
}
.right_mypage {
  float: left;
  width: 50%;
}
/*추가 768 -> 480으로 change*/
@media (max-width: 480px) {
  .MyPage {
    padding-top: 150px;
    padding-left: 10px;
  }
  .left_mypage {
    float: left;
    width: 100%;
    height: 50%;
  }
  .right_mypage {
    float: left;
    width: 100%;
    height: 50%;
  }
}
