.App {
  text-align: center;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.UploadVideoSecondPage {
  padding-top: 100px;
  max-width: 700px;
  color: #fab404;
  margin: 0.5rem auto;
}
#uploadpage2_title {
  text-align: center;
}
#tag_label {
  color: #fab404;
}
#tag_upload {
  width: 700px;
  height: 30px;
}
#tag_input {
  border: 3px solid #fab404;
}
#tag_add_btn {
  background-color: #fab404;
  border: 3px solid #fab404;
  color: white;
  margin-left: 5px;
}
#uploadpage2_submit_btn {
  background-color: #fab404;
  border: 3px solid #fab404;
  color: white;
  width: "60px";
  height: "30px";
  font-size: large;
}
