.UploadVideoSecondPage {
  padding-top: 120px;
  padding-left: 320px;
  max-width: 500px;
  color: #fab404;
}
#uploadpage2_title {
  text-align: center;
}
#video_info {
  color: black;
}
#video_table_h {
  height: 30px;
  width: 100px;
}
#tag_label {
  color: #fab404;
}
#tag_upload {
  width: 700px;
  height: 30px;
}
#tag_input {
  border: 2px solid #fab404;
  margin: 1px;
  width: 500px;
  height: 40px;
}
#tag_add_btn {
  background-color: #fab404;
  border: 3px solid #fab404;
  color: white;
  margin-left: 5px;
}
#uploadpage2_submit_btn {
  float: right;
  background-color: #fab404;
  border: 3px solid #fab404;
  color: white;
  width: "60px";
  height: "30px";
  font-size: large;
}

@media (max-width: 480px) {
  .UploadVideoSecondPage {
    padding-left: 0;
  }
}
