.App {
  text-align: center;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.UploadVideoPage {
  padding-top: 120px;
  /*padding-left: 320px;*/
  max-width: 500px;
  color: #fab404;
  margin: 0.5rem auto;
}
#uploadpage_title {
  text-align: center;
}
#upload_after_form {
  display: flex;
  justify-content: center;
}
#upload_after_dropzone {
  width: 300px;
  height: 240px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title_label,
#category_label,
#video_label {
  color: #fab404;
}

#title_war {
  color: red;
}
#video_input {
  color: black;
  margin: 1px;
  width: 500px;
}
#title_input {
  border: 2px solid #fab404;
  margin: 1px;
  width: 500px;
  height: 40px;
}
#category_select {
  border: 2px solid #fab404;
  margin-top: 2px;
  width: 510px;
  height: 45px;
}
#uploadpage_submit_btn {
  float: right;
  background-color: #fab404;
  border: 3px solid #fab404;
  color: white;
  width: "60px";
  height: "30px";
  font-size: large;
}

@media (max-width: 1000px) {
  .UploadVideoPage {
    padding-left: 320px;
  }
}

@media (max-width: 480px) {
  .UploadVideoPage {
    padding-left: 0;
  }
}
