.ViewPage {
  padding-top: 120px;
  padding-left: 320px;
  width: 850px;
}
#videoframe1 {
  width: 850px;
  height: 500px;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  margin-inline-start: auto;
  margin-inline-end: 0px;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
#video_name {
  margin-top: 0px;
  margin-bottom: 0px;
}
#video_like_btn {
  background-color: #fac43c;
  border: 2px solid #fac43c;
  font-size: medium;
  color: white;
  border-radius: 20px;
}

#video_uploader {
  margin-right: 3%;
}
#video_view {
  margin-right: 3%;
}
.view_info2 {
  display: none;
}

/*추가한것*/
@media (max-width: 480px) {
  .ViewPage {
    padding-top: 50px;
    padding-left: 0px;
    width: auto;
  }
  #videoframe1 {
    width: 360px;
    height: 240px;
  }
  .view_info {
    display: none;
  }
  .view_info2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3%;
    grid-auto-rows: repeat(1, 1fr);
  }
}
