.TopVideoBox {
  width: 99%;
  margin: 0.5rem auto;
  margin-top: 0px;
}
#topvideo_thumb_title {
  position: relative;
}
#topvideo_thumb {
  width: 100%;
  height: 150px;
}
#topvideo_title {
  margin-top: 0px;
}
.topsix_out {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: repeat(2, 1fr);
}
#topvidebox_title {
  margin: 10px;
  color: gray;
}
@media screen and (max-width: 768px) {
  .topsix_out {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: repeat(1, 1fr);
  }
}
